<!DOCTYPE html>
<html>

<head>
  <title>Ticketac </title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
    <body>
      <%- include('navbar.ejs') %> 
      <h2 style="text-align: center; margin-top: 30px; color:white">My tickets</h2>
      <table class="table" style="margin-top: 30px; width: 700px; margin:auto; ">
        <thead style="background-color: rgb(255, 255, 255); border-radius:30px">
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Journey</th>
            <th scope="col">Date</th>
            <th scope="col">Departure time</th>
            <th scope="col">Price</th>
          </tr> 
        </thead>
        <tbody>
          <tr style="background-color: rgba(255, 255, 255, 0.829);">
            <th scope="row">1</th>
            <td>Paris/Lille</td>
            <td>02/08/2019</td>
            <td>15:00 pm</td>
            <td>80€</td>
          </tr>
          <tr style="background-color: rgba(255, 255, 255, 0.829);">
            <th scope="row">2</th>
            <td>Paris/Lille</td>
            <td>02/08/2019</td>
            <td>15:00 pm</td>
            <td>80€</td>
          </tr>
          <tr style="background-color: rgba(255, 255, 255, 0.829);">
            <th scope="row">3</th>
            <td>Paris/Lille</td>
            <td>02/08/2019</td>
            <td>15:00 pm</td>
            <td>80€</td>
           
          </tr>
          <tr class='test' style="border:none; background-color: rgba(240, 180, 180, 0.883);">
            <th scope="row" style="border:none;">Total</th>
            <td style="border:none;" ></td>
            <td style="border:none;"></td>
            <td style="border:none;"></td>
            <td style="border:none;">240€</td>
           
            
                
              
          </tr>
        </tbody>
      </table>
      </div>
      
        <form action="/paiement/create-checkout-session" method="POST">
          <button type="submit" class="btn btn-success mt-5">Confirmer</button>
        </form>

    </body>
</html>