<div id="navbar" class="d-flex justify-content-between">

    <div id="navbarLeft" class="d-flex align-items-center">
        <a href="/homepage">
            <img src="/images/train.png" class="m-3" alt="train_logo">
        </a>
        <a href="/homepage" class="m-3" id="ticketacButton">
            Ticketac
        </a>
    </div>

    <div id="navbarRight" class="d-flex align-items-centers m-3 p-3">
        <a href="/" id="navConnexion" class="m-3">
            Connection
        </a>
        <a href="/homepage/lastTrips" id="navLastTrips" class="m-3">
            My last trips
        </a>
    </div>
</div>