body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(#c2e59c, #64b3f4);
  height: 100vh;
  width: 100%;
}

/* NAV BAR START*/

#navbar {
  background-color: white;
  order: 2;
}

#ticketacButton {
  color: black;
  text-decoration: none;
}

#navbarRight {
  text-decoration: none;
}

#navConnexion {
  color: red;
  text-decoration: none;
}

#ticketacButton {
  font-weight: bold;
  font-size: 20px;
}

#navbarRight {
  font-weight: bold;
  font-size: 16px;
}

#navLastTrips {
  color: black;
  text-decoration: none;
}

/* NAR BAR END */

a {
  color: #00b7ff;
}

.card {
  width: 400px;
  border: none;
  background-color: transparent;
}

.btr {
  border-top-right-radius: 5px !important;
}

.btl {
  border-top-left-radius: 5px !important;
}

.btn-dark {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-dark:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.nav-pills {
  display: table !important;
  width: 100%;
}

.nav-pills .nav-link {
  border-radius: 0px;
  border-bottom: 1px solid #0d6efd40;
}

.nav-item {
  display: table-cell;
  background: #0d6efd2e;
}

.form {
  padding: 10px;
  height: 300px;
}

.form-group {
  margin-top: 20px;
}

.form input {
  margin-bottom: 12px;
  border-radius: 3px;
}

.form input:focus {
  box-shadow: none;
}

.form button {
  margin-top: 20px;
}

/* START HOME PAGE */

h3 {
  color: white;
}
.my-ticket{
  border-radius: 3px;
  background-color: rgba(30, 156, 160, 0.582);
  color:white;
  padding:4px 10px;
  border:none;
}

input {
  text-indent: 15px;
}

.container-homepage {
  text-align: center;
  margin-top: 50px;
}

.container-input {
  margin-top: 25px;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.container-input > input {
  height: 30px;
  border-color: rgba(197, 197, 197, 0.733);
  border-radius: 6px;
}

#btn-go {
  border: none;
  width: 40px;
  background-color: rgb(108, 195, 221);
  color: white;
  border-radius: 3px;
  font-size: 16px;
}
/* ERROR PAGE */

#errorTitle {
  color: white;
}

/* SEARCH PAGE */

